body {
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at bottom, #140d31, #111);
  background: #140d31;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.button {
  width: 20%;
}

@media only screen and (max-width: 820px) {
  .title {
    text-align: center;
    align-items: center;
    width: 90%;
  }
  .search-form {
    display: flex;
  }
  #form-search {
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  .button {
    width: 35%;
    align-items: center;
    justify-content: center;
    margin-left: 9%;
  }
  .slideshow {
    width: 80%;
    margin-left: 8%;
    margin-right: 8%;
  }
}

@media only screen and (min-width: 820px) and (max-width: 1280px) {
  .slideshow {
    width: 80%;
  }
}

.night {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotateZ(40deg);
  pointer-events: none;
  z-index: -1;
}

.star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 4px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  animation: tail 3s ease-in-out infinite, falling 3s ease-in-out infinite;
  pointer-events: none;
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes falling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}

.star::before,
.star::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  right: 0;
  height: 4px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    #5f91ff,
    rgba(0, 0, 255, 0)
  );
  border-radius: 100%;
  transform: translateX(50%) rotateZ(45deg);
  animation: shining 3s ease-in-out infinite;
}

@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

.star::after {
  transform: translateX(50%) rotateZ(-45deg);
}

.star:nth-child(1) {
  top: calc(50% - 100px);
  left: calc(50% - 250px);
  animation-delay: 1s;
}

.star:nth-child(1)::before,
.star:nth-child(1)::after {
  animation-delay: 1s;
}

.star:nth-child(2) {
  top: calc(50% - 50px);
  left: calc(50% - 200px);
  animation-delay: 1.2s;
}

.star:nth-child(2)::before,
.star:nth-child(2)::after {
  animation-delay: 1.2s;
}

.star:nth-child(3) {
  top: calc(50% - 0px);
  left: calc(50% - 150px);
  animation-delay: 1.4s;
}

.star:nth-child(3)::before,
.star:nth-child(3)::after {
  animation-delay: 1.4s;
}

.star:nth-child(4) {
  top: calc(50% - -50px);
  left: calc(50% - 200px);
  animation-delay: 1.6s;
}

.star:nth-child(4)::before,
.star:nth-child(4)::after {
  animation-delay: 1.6s;
}

.star:nth-child(5) {
  top: calc(50% - -100px);
  left: calc(50% - 250px);
  animation-delay: 1.8s;
}

.star:nth-child(5)::before,
.star:nth-child(5)::after {
  animation-delay: 1.8s;
}

.slideshow-container {
  overflow: hidden;
  position: relative;
}

.slideshow-carousel {
  display: flex;
}

#next-btn {
  color: white;
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 3%;
}

#prev-btn {
  color: white;
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 3%;
}

#search-button:hover {
  box-shadow: 0 0 5px #4f46e5, 0 0 25px #4f46e5, 0 0 50px #4f46e5,
    0 0 75px #4f46e5;
}

#clear-save-button:hover {
  box-shadow: 0 0 5px #4f46e5, 0 0 25px #4f46e5, 0 0 50px #4f46e5,
    0 0 75px #4f46e5;
}

#start-date-input:focus {
  box-shadow: 0 0 5px #4f46e5, 0 0 25px #4f46e5, 0 0 50px #4f46e5,
    0 0 75px #4f46e5;
}
